<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='Panagiotis Atmatzidis' name='author'>
<meta content='argosnap project page' name='description'>
<meta content='width=device-width, initial-scale=1' name='viewport'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&amp;subset=latin' rel='stylesheet' type='text/css'>
<link href='//cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css' rel='stylesheet'>
<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'>
<link href='{{ site.path }}/stylesheets/skeleton.css' rel='stylesheet'>
<link href='{{ site.path }}/stylesheets/code.css' rel='stylesheet'>
<link href='{{ site.path }}/assets/images/favicon.ico' rel='icon' type='image/png'>
<script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='http://code.jquery.com/jquery-migrate-1.2.1.min.js'></script>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Convalesco | Argosnap </title>
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body> 
<div class=container> 
  <div class=row> <div class='five columns'> 
      <h1 class=head> 
        <a class=title href='http://www.convalesco.org' title=Convalesco>Convalesco</a> 
      </h1> 
      <p class=revision>Argosnap is a <a href="http://www.tarsnap.com">tarsnap</a> picoUSD notification utility</p> 
    </div> 
    <div class='seven columns'> 
      <p class=quote> <i class='fa fa-quote-left'></i> I was two days away from receiving an email from Tarsnap [...].  Seven days after that my account would have run down to zero and Tarsnap would have started a 7 day shot clock.  If I didn’t deposit more money prior to that shot clock running out, all my backups would have been unrecoverably deleted. [...] I am, in fact, days away from going on a business trip internationally, which previous experience suggests is a great way for me to miss lots of emails.  This is pretty routine for me.  Not routine?  Getting all of my backups deleted.</p> 
      <p class=subtitle> Patrick McKenzie - <a href="http://www.kalzumeus.com/2014/04/03/fantasy-tarsnap/">April 3, 2014</a> </p> 
    </div> 
  </div>  
</div>  
<div class=container> 
  <hr> 
</div> 
<div class=container>
  <section>
    {{ content }}
  </section>
</div>
<script type="text/javascript">
$(function () {
    $('a').each(function () {
        var ext = '.md';
        var href = $(this).attr('href');
        var position = href.length - ext.length;
        if (href.substring(position) === ext)
        $(this).attr('href', href.substring(0, position));
        });
    });
</script>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=3148321; 
var sc_invisible=1; 
var sc_security="c34dfdce"; 
var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free hit
      counter" href="http://statcounter.com/" target="_blank"><img
      class="statcounter"
      src="http://c.statcounter.com/3148321/0/c34dfdce/1/"
      alt="free hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<div class=container> 
  <hr>
</div>
<div id=footer> <p>Panagiotis Atmatzidis &copy; 2015. The content of this website is under <a href="http://creativecommons.org/licenses/by-sa/2.5/legalcode">CC BY-SA 2.5</a> license, if not otherwise stated.</p> 
</div>

</body>
</html>
